/*#alertBtn {*/
/*    background-color: dodgerblue;*/
/*}*/
html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}

#demoTitleContainer {
    vertical-align: middle;
    width: 100%;
    height: 15%;
    background-color: black;
    border-bottom: white solid 1px;
    font-family: "Courier New";
}
#demoIcon {
}
#demoTitle {
    width: 100%;
    height: 60%;
    text-align: left;
    font-size: 30px;
    color: white;
}

#demoSubtitle {
    width: 100%;
    height: 40%;
    text-align: left;
    font-size: 15px;
    color: lightgray;
}

#rows {
    width: 100%;
    height: 85%;
}


.row {
    margin-top: 2%;
    width: 100%;
    height: 50%;
}

.col {
    width: 17.5%;
    height: 100%;
    background: azure;
    float: left;
    margin-left: 2%;
}

.border-color-gap {
    box-sizing: border-box;
    border-left: 10px solid #ffffff;
}